<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src='main.js'></script>
    <style>
        main{
            height:500px;
        }
    </style>
</head>

<body>

    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Curso Certo!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/" class="btn btn-outline-dark">Início</a>
                    <a class="nav-item nav-link" href="/cadastro" class="btn btn-outline-dark">Cadastro de
                        Disciplina</a>
                    <a class="nav-item nav-link" href="/consultar-cep" class="btn btn-outline-dark">Consultar CEP</a>
                    <a class="nav-item nav-link" href="/frontend" class="btn btn-outline-dark">Disciplina Frontend</a>
                    <a class="nav-item nav-link" href="/backend" class="btn btn-outline-dark">Disciplina Backend</a>
                </div>
            </div>
        </nav>
        <main>
            <div class="card mt-2 mb-2">
                <div class="card-body ">
                    <h5>Resultado Cep</h3>
                        <%= dado.logradouro %>,
                            <%= dado.localidade %>,
                                <%= dado.bairro %>
                </div>
            </div>
            <a href="/consultar-cep" class="btn btn-outline-dark">Procurar outro endereço</a>
        </main>
        <footer class="bg-light text-center text-lg-start">
            
            <div class="container p-4">
            
              <div class="row">
                
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Footer Content</h5>
          
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                    voluptatem veniam, est atque cumque eum delectus sint!
                  </p>
                </div>
                
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Links</h5>
          
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#!" class="text-dark">Link 1</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">Link 2</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">Link 3</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">Link 4</a>
                    </li>
                  </ul>
                </div>
               
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase mb-0">Links</h5>
          
                  <ul class="list-unstyled">
                    <li>
                      <a href="#!" class="text-dark">Link 1</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">Link 2</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">Link 3</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark">Link 4</a>
                    </li>
                  </ul>
                </div>
                
              </div>
             
            </div>
            
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
              © 2021 Gilson e Recode Pro 
              <a class="text-dark" href="https://www.recodepro.org.br/">Recode Pro</a>
            </div>
            
          </footer>
    </div>


</body>

</html>